src/VendorConnect-Frontend/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58671/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58671/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58671/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VnedorConnect_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerOrganizer_InputMessage">
    <wsdl:part name="parameters" element="tns:registerOrganizer" />
  </wsdl:message>
  <wsdl:message name="IService1_registerOrganizer_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerOrganizerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:registerVendor" />
  </wsdl:message>
  <wsdl:message name="IService1_registerVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_totalVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:totalVendors" />
  </wsdl:message>
  <wsdl:message name="IService1_totalVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:totalVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_totalOrganizers_InputMessage">
    <wsdl:part name="parameters" element="tns:totalOrganizers" />
  </wsdl:message>
  <wsdl:message name="IService1_totalOrganizers_OutputMessage">
    <wsdl:part name="parameters" element="tns:totalOrganizersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventPerOrganizer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventPerOrganizer" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventPerOrganizer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventPerOrganizerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrganizerByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizerByUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrganizerByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizerByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTotalEventPerOrganizer_InputMessage">
    <wsdl:part name="parameters" element="tns:getTotalEventPerOrganizer" />
  </wsdl:message>
  <wsdl:message name="IService1_getTotalEventPerOrganizer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTotalEventPerOrganizerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVendorByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorByUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVendorByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EventApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:EventApplication" />
  </wsdl:message>
  <wsdl:message name="IService1_EventApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:EventApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetApplicationPerVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationPerVendor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetApplicationPerVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationPerVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteApplication" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetApplicationsPerOrganizer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationsPerOrganizer" />
  </wsdl:message>
  <wsdl:message name="IService1_GetApplicationsPerOrganizer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationsPerOrganizerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeclineApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclineApplication" />
  </wsdl:message>
  <wsdl:message name="IService1_DeclineApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclineApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AccepptApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:AccepptApplication" />
  </wsdl:message>
  <wsdl:message name="IService1_AccepptApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccepptApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getApprovedApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:getApprovedApplication" />
  </wsdl:message>
  <wsdl:message name="IService1_getApprovedApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:getApprovedApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterUser" message="tns:IService1_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterUserResponse" message="tns:IService1_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerOrganizer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerOrganizer" message="tns:IService1_registerOrganizer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerOrganizerResponse" message="tns:IService1_registerOrganizer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerVendor" message="tns:IService1_registerVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerVendorResponse" message="tns:IService1_registerVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsers" message="tns:IService1_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersResponse" message="tns:IService1_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="totalVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/totalVendors" message="tns:IService1_totalVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/totalVendorsResponse" message="tns:IService1_totalVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="totalOrganizers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/totalOrganizers" message="tns:IService1_totalOrganizers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/totalOrganizersResponse" message="tns:IService1_totalOrganizers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateEvent" message="tns:IService1_CreateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateEventResponse" message="tns:IService1_CreateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEvents" message="tns:IService1_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventsResponse" message="tns:IService1_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEvent" message="tns:IService1_GetEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventResponse" message="tns:IService1_GetEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventPerOrganizer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEventPerOrganizer" message="tns:IService1_GetEventPerOrganizer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventPerOrganizerResponse" message="tns:IService1_GetEventPerOrganizer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizerByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrganizerByUserId" message="tns:IService1_GetOrganizerByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrganizerByUserIdResponse" message="tns:IService1_GetOrganizerByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTotalEventPerOrganizer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTotalEventPerOrganizer" message="tns:IService1_getTotalEventPerOrganizer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTotalEventPerOrganizerResponse" message="tns:IService1_getTotalEventPerOrganizer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVendorByUserId" message="tns:IService1_GetVendorByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVendorByUserIdResponse" message="tns:IService1_GetVendorByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EventApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EventApplication" message="tns:IService1_EventApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EventApplicationResponse" message="tns:IService1_EventApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationPerVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetApplicationPerVendor" message="tns:IService1_GetApplicationPerVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetApplicationPerVendorResponse" message="tns:IService1_GetApplicationPerVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteApplication" message="tns:IService1_deleteApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteApplicationResponse" message="tns:IService1_deleteApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationsPerOrganizer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetApplicationsPerOrganizer" message="tns:IService1_GetApplicationsPerOrganizer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetApplicationsPerOrganizerResponse" message="tns:IService1_GetApplicationsPerOrganizer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeclineApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeclineApplication" message="tns:IService1_DeclineApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeclineApplicationResponse" message="tns:IService1_DeclineApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccepptApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AccepptApplication" message="tns:IService1_AccepptApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AccepptApplicationResponse" message="tns:IService1_AccepptApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getApprovedApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getApprovedApplication" message="tns:IService1_getApprovedApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getApprovedApplicationResponse" message="tns:IService1_getApprovedApplication_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerOrganizer">
      <soap:operation soapAction="http://tempuri.org/IService1/registerOrganizer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerVendor">
      <soap:operation soapAction="http://tempuri.org/IService1/registerVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalVendors">
      <soap:operation soapAction="http://tempuri.org/IService1/totalVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalOrganizers">
      <soap:operation soapAction="http://tempuri.org/IService1/totalOrganizers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventPerOrganizer">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEventPerOrganizer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizerByUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrganizerByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalEventPerOrganizer">
      <soap:operation soapAction="http://tempuri.org/IService1/getTotalEventPerOrganizer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorByUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVendorByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventApplication">
      <soap:operation soapAction="http://tempuri.org/IService1/EventApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationPerVendor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetApplicationPerVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteApplication">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationsPerOrganizer">
      <soap:operation soapAction="http://tempuri.org/IService1/GetApplicationsPerOrganizer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeclineApplication">
      <soap:operation soapAction="http://tempuri.org/IService1/DeclineApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccepptApplication">
      <soap:operation soapAction="http://tempuri.org/IService1/AccepptApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApprovedApplication">
      <soap:operation soapAction="http://tempuri.org/IService1/getApprovedApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58671/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>