src/VendorConnect-Frontend/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/VnedorConnect_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VnedorConnect_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58671/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserType" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organizers" nillable="true" type="tns:ArrayOfOrganizer" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="ser:char" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendors" nillable="true" type="tns:ArrayOfVendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfOrganizer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organizer" nillable="true" type="tns:Organizer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizer" nillable="true" type="tns:ArrayOfOrganizer" />
  <xs:complexType name="Organizer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Events" nillable="true" type="tns:ArrayOfEvent" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizerId" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organizer" nillable="true" type="tns:Organizer" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxVendors" type="xs:int" />
      <xs:element minOccurs="0" name="Organizer" nillable="true" type="tns:Organizer" />
      <xs:element minOccurs="0" name="OrganizerId" type="xs:int" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPayment" />
      <xs:element minOccurs="0" name="VendorApplications" nillable="true" type="tns:ArrayOfVendorApplication" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizerRevenue" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="PlatformFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="tns:Vendor" />
      <xs:element minOccurs="0" name="VendorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="Vendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinesName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPayment" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="VendorApplications" nillable="true" type="tns:ArrayOfVendorApplication" />
      <xs:element minOccurs="0" name="VendorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendor" nillable="true" type="tns:Vendor" />
  <xs:complexType name="ArrayOfVendorApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorApplication" nillable="true" type="tns:VendorApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorApplication" nillable="true" type="tns:ArrayOfVendorApplication" />
  <xs:complexType name="VendorApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="AppliedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="tns:Vendor" />
      <xs:element minOccurs="0" name="VendorAssignments" nillable="true" type="tns:ArrayOfVendorAssignment" />
      <xs:element minOccurs="0" name="VendorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorApplication" nillable="true" type="tns:VendorApplication" />
  <xs:complexType name="ArrayOfVendorAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorAssignment" nillable="true" type="tns:VendorAssignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorAssignment" nillable="true" type="tns:ArrayOfVendorAssignment" />
  <xs:complexType name="VendorAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="AssignedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssignmentId" type="xs:int" />
      <xs:element minOccurs="0" name="SpaceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorApplication" nillable="true" type="tns:VendorApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorAssignment" nillable="true" type="tns:VendorAssignment" />
  <xs:complexType name="ArrayOfVendor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vendor" nillable="true" type="tns:Vendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendor" nillable="true" type="tns:ArrayOfVendor" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="OrganizerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizerId" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizerDTO" nillable="true" type="tns:OrganizerDTO" />
  <xs:complexType name="VendorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="VendorID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorDTO" nillable="true" type="tns:VendorDTO" />
  <xs:complexType name="ArrayOfVendorApplicationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorApplicationDTO" nillable="true" type="tns:VendorApplicationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorApplicationDTO" nillable="true" type="tns:ArrayOfVendorApplicationDTO" />
  <xs:complexType name="VendorApplicationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="AppliedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eventstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxVendors" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizerID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorApplicationDTO" nillable="true" type="tns:VendorApplicationDTO" />
</xs:schema>